.hero-background-section {
    background-image: url('../img/header.png');
    background-size: cover;
    background-repeat: no-repeat;
    color: white;

    &__row {
        padding: 250px 0 0 0;
    }

    &__title {
        font-size: $headingOne;
        color: white;
    }

    &__title-span {
        color: rgb(54, 54, 78);
    }

    &__subtitle {
        font-weight: 100;
    }

    &__subtitle-span {
        color: blue;
    }

    &__row-2 {
        margin-top: 30px;
        padding-bottom: 250px;
    }

    &__description-hr {

        background-color: blue;
        width: 25px;

    }


}