<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="footer__title-bold">
                    sarajevo
                    <span class="footer__title-bold-span">.</span>
                </h1>
                <p class="footer__paragraph">eusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                    minim veniam, quis
                    nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat.</p>
            </div>
            <div class="col">
                <h1 class="footer__title">Subscribe</h1>
                <button type="button" class="footer__button"><a href="#">Subscribe</a></button>
                <p class="footer__paragraph"></p>
            </div>
            <div class="col">
                <h1 class="footer__title text-center">Explore</h1>
                <div class="footer__list-box d-flex">
                    <ul class="footer__list">
                        <li class="footer__list-item">Envato</li>
                        <li class="footer__list-item">Themecurve</li>
                        <li class="footer__list-item">Kreativeshowcase</li>
                        <li class="footer__list-item">Freebiescurve</li>
                    </ul>
                    <ul class="footer__list">
                        <li class="footer__list-item">ThemeForest</li>
                        <li class="footer__list-item">Microsoft</li>
                        <li class="footer__list-item">Google</li>
                        <li class="footer__list-item">Yahoo</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>





</footer>