<section class="hero-background-section">
  <div class="container">
    <!-- Wrap in header -->
    <!-- Add transparent border then :hover -->
    <!-- Shorter naming for sections -->



    <!-- <nav class="navbar navbar-expand-lg navbar-dark bg-transparent mt-0
                    hero-background-section__navbar">
      <a class="navbar-brand   
                        hero-background-section__navbar-brand" href="#">sarajevo
        <span class="hero-background-section__navbar-brand-span">.</span></a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item  hero-background-section__navbar-link">
            <a class="nav-link pt-2
                                    hero-background-section__navbar-link-a" href="#">Home<span
                class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item  hero-background-section__navbar-link">
            <a class="nav-link pt-2 justify-content-end
                                    hero-background-section__navbar-link-a"
              href="#">Features
            </a>
          </li>
          <li class="nav-item hero-background-section__navbar-link">
            <a class="nav-link pt-2 justify-content-end hero-background-section__navbar-link-a" href="#">Works
            </a>
          </li>

          <li class="nav-item hero-background-section__navbar-link">
            <a class="nav-link pt-2 justify-content-end hero-background-section__navbar-link-a" href="#">Team</a>
          </li>

          <li class="nav-item hero-background-section__navbar-link">
            <a class="nav-link pt-2 justify-content-end hero-background-section__navbar-link-a" href="#">Contact</a>
          </li>
        </ul>
      </div>
    </nav> -->


    <div class="navbar">
      <nav class="navigation">
        <div class="navbar-brand">Brand</div>
        <div class="navbar-menu" id="navbar-menu">
          <a href="" class="navbar-menu-item">One</a>
          <a href="" class="navbar-menu-item">Two</a>
          <a href="" class="navbar-menu-item">Three</a>
          <a href="" class="navbar-menu-item">Four</a>
          <a href="" class="navbar-menu-item">Five</a>
        </div>
      </nav>
      <div class="navbar-burger" id="navbar-burger">☰</div>
    </div>





    <div class="row d-flex justify-content-center hero-background-section__row">
      <!-- //no hero-background-section__row > do not
      touch bootstrap --row-- -->
      <!-- ad el wrapper in col  -->
      <!-- Or padding or margin -->
      <div class="col text-center">
        <!-- col col-md-8 > col + col-md-8 -->
        <h1 class="hero-background-section__title">
          sarajevo <span class="hero-background-section__title-span">.</span>
        </h1>
        <h2 class="hero-background-section__subtitle">
          <span class="hero-background-section__subtitle-span">/creative</span>
          one page template
        </h2>
      </div>
    </div>

    <div class="row justify-content-center hero-background-section__row-2">
      <div class="col-6 text-center d-flex justify-content-center">
        <hr class="hero-background-section__description-hr" />
        <h3 class="hero-background-section__description">
          We are a team of professionals
        </h3>
        <hr class="hero-background-section__description-hr" />
      </div>
    </div>
  </div>
</section>