<section class="iphone-background-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col iphone-background-section__column-1 d-flex flex-column justify-content-center">
                <div class="iphone-background-section__col-item-box d-flex align-items-start">
                    <i class="fas fa-cogs"></i>
                    <div class="iphone-background-section__col-item-box-text">
                        <h3 class="iphone-background-section__col-item-box-text-title">Branding</h3>
                        <p class="iphone-background-section__col-item-text-paragraph">Sed ut perspiciatis unde
                            omnis iste
                            natus error
                            sit voluptatem accusantium doloremque laudantium, totam rem aperiam,
                            eaque ipsa quae ab illo inventore</p>
                    </div>
                </div>
                <div class="iphone-background-section__col-item-box d-flex align-items-start my-5">
                    <i class="fas fa-clock"></i>
                    <div class="iphone-background-section__col-item-box-text">
                        <h3 class="iphone-background-section__col-item-box-text-title">Branding</h3>
                        <p class="iphone-background-section__col-item-text-paragraph">Sed ut perspiciatis unde
                            omnis iste
                            natus error
                            sit voluptatem accusantium doloremque laudantium, totam rem aperiam,
                            eaque ipsa quae ab illo inventore</p>
                    </div>
                </div>
                <div class="iphone-background-section__col-item-box d-flex align-items-start">
                    <i class="fas fa-music"></i>
                    <div class="iphone-background-section__col-item-box-text">
                        <h3 class="iphone-background-section__col-item-box-text-title">Branding</h3>
                        <p class="iphone-background-section__col-item-text-paragraph">Sed ut perspiciatis unde
                            omnis iste
                            natus error
                            sit voluptatem accusantium doloremque laudantium, totam rem aperiam,
                            eaque ipsa quae ab illo inventore</p>
                    </div>
                </div>
            </div>

            <div class="col iphone-background-section__col-img d-flex justify-content-center">
                <img src="./img/phone.png" alt="" class="iphone-background-section__iphone-img">
            </div>

            <div class="col iphone-background-section__column-2 d-flex flex-column justify-content-center">
                <div class="iphone-background-section__col-item-box d-flex align-items-start">
                    <i class="fas fa-id-badge"></i>
                    <div class="iphone-background-section__col-item-box-text">
                        <h3 class="iphone-background-section__col-item-box-text-title">Branding</h3>
                        <p class="iphone-background-section__col-item-text-paragraph">Sed ut perspiciatis unde
                            omnis iste
                            natus error
                            sit voluptatem accusantium doloremque laudantium, totam rem aperiam,
                            eaque ipsa quae ab illo inventore</p>
                    </div>
                </div>

                <div class="iphone-background-section__col-item-box d-flex align-items-start my-5">
                    <i class="fas fa-share-square"></i>
                    <div class="iphone-background-section__col-item-box-text">
                        <h3 class="iphone-background-section__col-item-box-text-title">Branding</h3>
                        <p class="iphone-background-section__col-item-text-paragraph">Sed ut perspiciatis unde
                            omnis iste
                            natus error
                            sit voluptatem accusantium doloremque laudantium, totam rem aperiam,
                            eaque ipsa quae ab illo inventore</p>
                    </div>
                </div>
                <div class="iphone-background-section__col-item-box d-flex align-items-start">
                    <i class="fas fa-camera"></i>
                    <div class="iphone-background-section__col-item-box-text">
                        <h3 class="iphone-background-section__col-item-box-text-title">Branding</h3>
                        <p class="iphone-background-section__col-item-text-paragraph">Sed ut perspiciatis unde
                            omnis iste
                            natus error
                            sit voluptatem accusantium doloremque laudantium, totam rem aperiam,
                            eaque ipsa quae ab illo inventore</p>
                    </div>
                </div>
            </div>
        </div>
</section>