<section class="works-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-10 text-center">
                //= ./heart-block.html

                <p class="works-section__paragraph">Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                    accusantium
                    doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore</p>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row no-gutters">
            <div class="col d-md-flex flex-row justify-content-center">
                <!-- .img-block {
                    max-width: 200px;
                    img{
                        width: 100%;
                        height: auto;

                    }
                }  -->

                <!-- object-fit!!! -->
                <img src="img/img-gallery-5.png" alt="" class="works-section__gallery-flex-img">
                <img src="img/img-gallery-6.png" alt="" class="works-section__gallery-flex-img">
                <img src="img/img-gallery-7.png" alt="" class="works-section__gallery-flex-img">
                <img src="img/img-gallery-8.png" alt="" class="works-section__gallery-flex-img">
            </div>
            <div class="w-100"></div>
            <div class="col d-md-flex flex-row justify-content-center">
                <img src="img/img-gallery-5.png" alt="" class="works-section__gallery-flex-img">
                <img src="img/img-gallery-6.png" alt="" class="works-section__gallery-flex-img">
                <img src="img/img-gallery-7.png" alt="" class="works-section__gallery-flex-img">
                <img src="img/img-gallery-8.png" alt="" class="works-section__gallery-flex-img">
            </div>
        </div>
    </div>

</section>